@import url('https://fonts.googleapis.com/css?family=Instrument Serif');

@font-face {
  font-family: 'Acme';
  src: url('Acme-Regular.ttf') format('truetype');
}

/*OurStory Body Styles*/
p.Info{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: #4A95FF;
  text-align: left;
  margin-left: 230px;
  margin-right: 220px;
}
img.ourstory{
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

/*  General HTML Stlyes*/
html{
    background-color: #2c2c2c;
}
/* Reset default margins/paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.longline {
  width: 30%;
  height: 1px;
  background-color: white;
}    
div.linetop{
  width: 20%;
  height: 1px;
  background-color: white;
  margin-top: 10px;
}

div.linebottom {
  width: 20%;
  height: 1px;
  background-color: white;
  margin-top: 10px;
}
div.longbottom {
  width: 30%;
  height: 1px;
  background-color: white;
  margin-top: 10px;
}
div.bottom-lines {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Wrapper with top and bottom borders */
nav.nav-wrapper {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 20px;
}

ul.nav-menu {
  display: inline-flex;
  list-style: none;
  gap: 30px; /* space between items */
}
.nav-menu li a {
  text-decoration: none;
  color: white;
  font-family: 'Instrument Serif';
  font-size: 40px;
  letter-spacing: 1px;
  padding: 0 10px;
  display: inline-block;
  text-transform: uppercase;
}
/* Add vertical bar | after every link except the last */
.nav-menu li:not(:last-child)::after {
  content: "|";
  color: #ccc;
  margin-left: 20px;
}

div.title{
  font-family: 'Instrument Serif';
  color:#ffffff;
  text-align: center;
  font-size: 100px;
  border: none;
  margin: none;
}

p.Notice{
  font-family: Instrument Serif;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
p.head{
    font-family: Inter, sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
p.text{
    font-family: 'Instrument Serif';
    font-size: x-large;
    color: #ffffff;
    text-align: left;
    font-size: 35px;
    margin-left: 150px;
    margin-right: 150px;
}

img.Title{
  width: 70%; 
  height: auto; 
  margin-left: 200px;
}
img.homepage{
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Footer Styles */
p.footer{
    font-family: 'Instrument Serif';
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
p.copyright{
    font-family: 'Instrument Serif';
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}

nav.footer-wrapper {
  border-top: 1px solid #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 20px;
}

img.fb{
    width: 3%; 
    height: auto;
    display: inline-block;
    margin-left: 70px;  
    margin-bottom: 10px; 
    order: calc(100 - 1);
    vertical-align: middle; 
}
img.gm{
    width: 3.3%; 
    height: auto;
    display: inline-block;
    margin-left: 75px;  
    margin-bottom: 10px; 
    order: calc(100 - 1);
    vertical-align: middle; 
}

/* Cake Body Styles*/
hr.fancy-line-cake{
  width: 70%;
  height: 2px;
  background-color: #ffffff;
  border: none;        
  margin: 2px auto;   
  margin-top: 100px;
  margin-bottom: 20px;
}

article.cake-article{
  background: white;
}
article.cake-article > p.cake-name{
  margin: 4px;
  font-size: 90%;
}

p.cake-name{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: #4A95FF;
    background-color: #2c2c2c;
    text-align: center;
}

img.cake{
  width: 30%;
  height: auto;
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  float: left;
}

/*Contact Body Styles*/
div.map-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

p.opening-hours{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: #ffffff;
    background-color: #2c2c2c;
    text-align: center;
}
p.Contact{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: #ffffff;
    background-color: #2c2c2c;
    text-align: center;
}

/*Chocolate Body Styles*/
img.chocolate{
  float: left;
  border-radius: 8px;
  margin-right: 20px;
  width: 40%;
  height: auto;
}
