h1{
    font-family: Instrument Serif, serif;
}

h2{
    font-family: Instrument Serif, serif;
}

p{
    font-family: Inter, sans-serif;
}

ul.main-menu {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.main-menu li {
  display: inline;
  font-size: 18px;
}
ul.main-menu li a {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.main-menu li+li:before{
  color: #0275d8;
  text-decoration: none;
}
ul.main-menu li a:hover {
  color: #01447e;
  text-decoration: underline;
}